  body {
    background-color: rgb(24, 22, 22);
  }

  .App {
    text-align: center;
  }

  h1 {
    color: white;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 3em;
  }

  #christmas-image {
    max-width: 100%;
    max-height: 100vh;
    text-align: center;
    border-radius: 7px;
    border: double red 5px;
    margin: 0px 0px 30px 0px;
  }

  #making-christmas {
    background-color: darkgreen;
    color: white;
    margin: 0px 0px 40px 0px;
  }

  .iconify {
    margin-bottom: 2px;
    padding: 0px 7px 0px 7px;
    color: white;
  }